body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color:#282D35;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  background-color: #21222A;
  display: flex;
  align-items: center;
  padding: 30px 25px;
  height: 90px;
  
}

nav > img {
  height: 30px;
}

nav > h3{
  color: #61DAFB;
  font-size: 22px;
  font-weight: 700;
  margin-left: 7px;
}

nav > h4{
  color:#DEEBF8;
  margin-left: auto;
  font-weight: 600;
}

main {
  padding: 57px 27px;
  color:#FFFFFF;
  background-image: url(./componants/background.c.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y:75% ;
  background-size: 300px;
}

main > h1{
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05cm;
}

main > ul{
   margin-top: 46px;
}

main > ul >li{
  line-height: 19px;
  padding-block: 10px;
}

main > ul > li::marker{
  color: #61DAFB;
  font-size: 1.4rem;
}
